# General Git Attributes Configurations

# Untuk menjaga konsistensi line ending di seluruh OS (Operations System)

# Default semua file teks pakai LF (Format Unix)
* text=auto eol=lf

# Language / File specific settings

# Javascript, JSON, Dan konfigurasi lainnya
*.js text eol=lf
*.mjs text eol=lf
*.cjs text eol=lf
*.json text eol=lf
*.ts text eol=lf

# Konfigurasi Node.js, NPM, dotenv, dll.
*.env text eol=lf
*.env.example text eol=lf
*.npmrc text eol=lf
*.yarnrc text eol=lf

# Markdown, README, LICENSE, dll
*.md text eol=lf
*.txt text eol=lf
LICENSE text eol=lf

# SQL & Migration Sequelize
*.sql text eol=lf

# Konfigurasi Git & Editor
*.gitattributes text eol=lf
*.gitignore text eol=lf
*.editorconfig text eol=lf

# Windows Specifics Files (Untuk script windows)
*.bat text eol=crlf
*.cmd text eol=crlf

# Binary Files (File gambar, font, binary)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.zip binary
*.tar binary
*.gz binary
*.exe binary
*.dll binary




#
